# Disable Indexes
Options -Indexes

## mode_rewrite
RewriteEngine On

# Flight forward controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]